[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
colour = "*"
cvxpy = "*"
cycler = "*"
numpy = "*"
pandas = "*"
plotly = "==2.2.3"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
scipy = "*"
scikit-learn = "*"
six = "*"
tqdm = "*"
jupyter = "*"
torch = "==1.0.0"
torchvision = "==0.2.2.post3"

[requires]
python_version = "3.7"
